.container {
  display: flex;
  justify-content: center;
  width: 100%;
  text-transform: uppercase;
  /* border: 2px solid burlywood; */
}

h1 {
  /* font-size: 4.125rem; */
  font-size: 4rem;
  word-spacing: -3px;
  /* text-align: center; */
}

@media screen and (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  .container .year {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }
  .container .year {
    font-size: 1.8rem
  }
}

.year {
  font-size: 2.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}