.container {
  /* display: flex; */
  border: 2px solid purple;
  width: 100%;
  text-transform: uppercase;
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .container{
    font-size: 18px;
  }
}