.container {
  padding: 8px 1em;
  border-radius: 6px;
  border: none;
  font-size: 22px;
  color: #fff;
  background: linear-gradient(180deg, #db2b42, transparent 250%);
  text-transform: uppercase;
  box-shadow: 0px 0px 3px black;
  cursor: pointer;
  width: fit-content;
}
