.container {
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    white-space: nowrap;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .container{
        padding: 10px 5px;
    }
}

@media screen and (max-width: 350px) {
    .container{
        padding: 10px 5px;
        white-space: normal;
    }
}

