.base {
  border-radius: 6px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.primary {
  padding: 8px 1em;
  background: linear-gradient(180deg, #db2b42, transparent 250%);
  border: none;
  text-transform: uppercase;
  box-shadow: 0px 0px 3px black;
}

.outline {
  background-color: transparent;
  border: 1px solid #999;
  padding: 0px 10px;
}
