.container {
  display: flex;
  justify-content: space-around;
  /* border: 3px solid orange; */
  min-height: 100%;
  background-image: url("../../assets/bg-hero.jpg");
  background-size: cover;
  width: 100%;
}

.container::before {
  content: '';
  /* border: 3px solid white; */
  min-height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}
