.container {
  min-height: 100%;
  background-image: url("../../assets/bg-hero.jpg");
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  /* border: 10px solid orange; */
}

.container::before {
  content: '';
  height: 100%;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.6); */
  background: linear-gradient(360deg, #0C1227, transparent 350%) ;
  position: absolute;
  left: 0;
  top: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 70px auto;
  width: 95%;
  max-width: 1300px;
  gap: 40px;
  /* border: 3px solid blue; */
  position: relative;

}
@media screen and (max-width: 1000px) {
  .content{
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 600px) {
  .content{
    margin-top: 95px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  border-radius: 30px;
  margin-top: 20px;
  gap: 12px;
}

.watchbtn {
  margin-top: 30px;
}


@media screen and (max-width: 1000px) {
  .info{
    align-items: center;
  }
}

.actionsContainer {
  display: flex;
  /* border: 1px solid oldlace; */
  gap: 0px;
}