.container {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
  border: 2px solid greenyellow;
  font-size: 19px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.container ul {
 display: flex;
 width: 100%;
 justify-content: space-around;
 /* align-items: center; */
 /* gap: 30px; */
}

@media screen and (max-width: 720px) {
  .container ul{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* gap: 8px */
  }

  /* .img {
    margin-left: -20px; 
    margin-bottom: -5px; 
  } */
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3px; */
}
