.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 2px solid greenyellow;
}

.container ul {
 display: flex;
 flex-direction: row;
 width: 100%;
 /* justify-content: baseline; */
 align-items: center;
 gap: 35px;
}

@media screen and (max-width: 600px) {
  .container ul{
    flex-direction: column;
    gap: 8px
  }

  .img {
    margin-left: -20px;
    margin-bottom: -5px;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 3px; */
}
