.container {
  display: flex;
  min-height: 100%;
  background-color: rgb(12,18,39);
  background-size: cover;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  /* border: 10px solid orange; */
}
 
.content {
  width: 100%;
  max-width: 1300px;
  /* background: linear-gradient(90deg, #5168bc, transparent 350%) ; */
  /* border: 1px solid yellow; */
}

.background {
  /* max-height: 1000px; */
  padding: 10px 0 40px 0;
  /* background-color: rgb(12,15,34); */
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  width: 100%;
  /* max-width: 1400px; */
  margin: 0 auto;
  margin-top: 70px;
  /* border: 3px solid red; */
  row-gap: 30px;
  /* column-gap: fill; */
}

@media screen and (max-width: 1400px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.container h3 {
  font-size: 1.9rem;
  text-align: left;
  margin-left: 30px;
  border-bottom: 1px solid #abacb3;
  padding-bottom: 10px;
  /* padding: 20px; */
}

@media screen and (max-width: 700px) {
  .container h3 {
    font-size: 1.6rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .container h3 {
    font-size: 1.4rem;
    white-space: normal;
  }
}



.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 300px;
  margin: 30px auto;
  /* border: 1px solid tomato; */
}

.actionBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 70px;
  /* position: relative; */

}

.actionActiveBtn {
  /* text-decoration: underline; */
  padding-bottom: 5px;
  /* border-bottom: 4px solid #e65b68; */
  position: relative;
}

.card {
  display: grid;
  place-items: start center;
  /* border: 2px solid violet; */
}

.discoverBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.discoverBtn button {
  color: #fff;
  background-color: #db2b42;
  font-size: 1.2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}

.actionUnderline {
  position: absolute;
  /* bottom: 1; */
  left: 40;
   border-bottom: 4px solid #e65b68;
  height: 40px;
  width: 70px;
  transition: transform 0.3s ease;
}