.container {
  min-height: 100%;
  background-color: rgb(12,18,39);
  background-size: cover;
  width: 100%;
  position: relative;
  /* border: 10px solid orange; */
}

.background {
  /* max-height: 1000px; */
  padding: 10px 0 40px 0;
  background-color: rgb(12,15,34);
}

.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-wrap: wrap;
  width: 95%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 50px;
  /* border: 3px solid red; */
  row-gap: 30px;
  /* column-gap: fill; */
}

@media screen and (max-width: 1400px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}


.header {
  /* border: 3px solid deeppink; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
  width: 100%;
  height: 90px;
  padding: 0 20px;
  /* gap: 50px; */
}

@media screen and (max-width: 330px) {
  .header {
    gap: 25px;
  }
}

.header h3 {
  font-size: 1.9rem;
}

@media screen and (max-width: 700px) {
  .header h3 {
    font-size: 1.6rem;
    white-space: nowrap;
  }
}

@media screen and (max-width: 500px) {
  .header h3 {
    font-size: 1.4rem;
    white-space: normal;
  }
}


.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 300px;
  margin: 30px auto;
  /* border: 1px solid tomato; */
}

.actionBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.actionActiveBtn {
  /* text-decoration: underline; */
  padding-bottom: 5px;
  border-bottom: 4px solid #e65b68;
}

.card {
  display: grid;
  place-items: start center;
  /* border: 2px solid violet; */
}

.discoverBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.discoverBtn button {
  color: #fff;
  background-color: #db2b42;
  font-size: 1.2rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}
