.container {
  display: flex;
  width: 100%;
  gap: 20px;
  text-transform: uppercase;
  justify-content: center;
  margin-top: 10px;
}

.buttons {
  background-color: rgba(200, 0, 0, 0.2);
  border-radius: 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  color: white;
  font-size: 1.188rem;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

@media screen and (max-width: 600px) {
  .container {
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 10px;
  }
  .buttons {
    font-size: .875rem;
  }

  @media screen and (max-width: 440px) {
    .container {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      align-items: center;
    }
    .buttons {
      font-size: .775rem;
    }
  }

}
