.container {
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: left;
}

.buttonsContainer {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: none;
  font-size: 1.188rem;
  cursor: pointer;
}

.iconContainer{
  border: 2px solid #db2b42;
  border-radius: 100%;
  display: grid;
  place-items: center;

  height: 40px;
  width: 40px;
  min-width: 40px;
}

.buttonsContainer h4 {
  color: white;
  /* color: #db2b42; */
}



@media screen and (max-width: 600px) {
  .container {
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 10px;
  }
  .buttons {
    font-size: .875rem;
  }

  @media screen and (max-width: 440px) {
    .container {
      flex-direction: column;
      gap: 10px;
      /* margin-top: 10px; */
      /* align-items: center; */
    }
    .buttons {
      font-size: .775rem;
    }
  }

}
