.container {
  display: flex;
  border: 2px solid pink;
  width: 100%;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  color: white;
  font-size: 19px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 0;
  }
  .buttons {
    font-size: 14px;
  }
}
