.content {
  display: flex;
  width: 92%;
  max-width: 1800px;
  border: 5px solid springgreen;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
}

@media screen and (max-width: 1500px) {
  .content {
    flex-direction: column-reverse;
  }
}


.leftContent {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  width: 22%;
  border: 3px solid darkorange;
  row-gap: 40px;
}

@media screen and (max-width: 1500px) {
  .leftContent {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 650px) {
  .leftContent {
    /* width: 100%; */
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.leftContent h2 {
  font-size: 2.5rem;
  /* margin-bottom: 15px; */
}

.leftContent h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;

}

.reviewersList{
  display: flex;
  flex-direction: column;
  border: 2px solid purple;
}

/* @media screen and (max-width: 1500px) {
  .reviewersList {
    flex-direction: row;
  }
} */

.fandomList{
  display: flex;
  flex-direction: column;
}

/* @media screen and (max-width: 1500px) {
  .fandomList {
    flex-direction: row;
  }
} */

.rightContent {
  display: flex;
  flex-direction: column;
  border: 5px solid skyblue;
  width: 75%;
  gap: 30px;
  padding: 20px;
}

/* @media screen and (max-width: 1500px) {
  .rightContent {
    flex-direction: row;
  }
} */

.rightContent h1 {
  font-size: 2rem;
}

.mainNotice {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  border: 2px solid purple;
  align-items: center;
  gap: 20px;
  /* padding: 20px; */
}

@media screen and (max-width: 850px) {
  .mainNotice {
    flex-direction: column;
  }
}

.mainNotice img {
  display: flex;
  width: 100%;
  max-width: 770px;
  max-height: 400px;
  /* height: 400px; */
  border-radius: 20px;
}

.mainNoticeData {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 30px;
  text-indent: 0;
}

.smallNoticesContainer {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center; */
  width: 100%;
  border: 2px solid orange;
  /* justify-content: space-between; */
  gap: 60px;
}

@media screen and (max-width: 1500px) {
  .smallNoticesContainer {
    flex-direction: column;
  }
}

.smallNotice {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  border: 2px solid blue;
  row-gap: 10px;
  /* align-items: center; */
  /* justify-content: center; */
}

.smallNoticeData {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 340px;
  /* min-width: 330px; */
  gap: 10px;
  margin-left: 5px;
  border: 2px solid white;
  /* text-align: center; */
  /* align-items: center; */
}

.smallNoticeData span {
 font-size: 1rem;
 /* text-align: left; */
}

.smallNoticeData h4 {
  font-size: 1.2rem;
}


.smallNotice img {
  display: flex;
  width: 100%;
  max-width: 360px;
  /* width: 340px; */
  /* height: 220px; */
  max-height: 220px;
  /* object-fit: contain; */
  /* align-self: center; */
  border-radius: 20px;
}


